.location {
    background-color: #ddd;
    text-align: center;
    padding: 10px 0;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.location .search-icon {
    margin-right: 10px;
}

.header2 .search-icon {
    margin-right: 10px;
}

.location p {
    font-size: 1.2em;
    margin: 0;
}