.palette-image {
    width: 100%;
    height: auto;
    margin-top: -20px;
    position: relative;
    z-index: -1;
}
.palette2 {
    
    padding-top: 10px;
    padding-right: 15%;
    padding-bottom: 50px;
    padding-left: 15%;
}

